<div class="container-fluid col-8">
  <div class="row">
    <div class="page-title text-dark">
      <h1 style="font-weight:800;">Preset overview</h1>
      <h2>Click and old to activate a preset</h2>
    </div>
  </div>

  <div class="row cardLoader mx-auto">
    <div class="col">
      <div class="card float-none mx-auto">
        <div class="card-menu">
          <div class="edit-btn bg-lime text-light text-center" onclick="app.nextPage()">
            <span class="fas fa-pen"></span>
          </div>
        </div>
        <div class="card-circle"></div>
        <div class="card-title text-dark">
          DEFAULT
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card float-none mx-auto" id="add-preset" onclick="app.nextPage()">
        <div class="card-menu">
        </div>
        <div class="add-preset-circle"><span>+</span></div>
        <div class="card-title text-dark">
          ADD PRESET
        </div>
      </div>
    </div>
  </div>
</div>

<script src="controllers/dashboard.js"></script>