

<div class="container-fluid col-8 center">
  <div class="row">
    <div class="page-title text-dark">
      <h1 style="font-weight:800;">Preset overview</h1>
      <h2>Click and old to activate a preset</h2>
    </div>
    </div>

  <div class="row">
    <div class="card-holder-parent col-12">

        <div class="card">
          <div class="card-menu">
            <div class="edit-btn bg-lime text-light text-center" onclick="nextPage()">
              <span class="fas fa-pen"></span>
            </div>
          </div>
          <div class="card-circle"></div>
          <div class="card-title text-dark">
            DEFAULT
          </div>
        </div>

        <div class="card" id="add-preset">
          <div class="card-menu">
          </div>
          <div class="card-circle"></div>
          <div class="card-title text-dark">
            ADD PRESET
          </div>
        </div>

  </div>
</div>
