/* Site css */

html,
body{
    background: url("../images/RoomR_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1{
    font-family: sans-serif;
    position: fixed;
    color: #eaeaea;
    left: 40%;
    top: 0%;
}

h2{
    font-family: sans-serif;
    position: fixed;
    color: #eaeaea;
    left: 44%;
    top: 10%;
}

p{
    font-family: sans-serif;
    color: #4d4d4d;
}
.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}

.exambutton {
    position: fixed;
    left: 60%;
    top: 50%;
}
.lesbutton{
    position: fixed;
    left: 35%;
    top: 50%;
}

.buttons button {
    border: none;
    background: transparent;
}

.exambutton .circle {
    /* Hier groen maken, randje weg en wit randje toevoegen */
    width: 100px;
    height: 100px;
    background-color: #90ff00;
    border-radius: 0;
    border: 5px solid #eaeaea;
    border-radius: 50%
}
.lesbutton .circle{
    width: 100px;
    height: 100px;
    background-color: #90ff00;
    border-radius: 0;
    border: 5px solid #eaeaea;
    border-radius: 50%
}

.exambutton .circle img {
    max-width: 100%;
    max-height: 100%;
    margin: 11px 32px;
}

.lesbutton .circle img {
    max-width: 100%;
    max-height: 100%;
    margin: 11px 32px;
}


/* 01-07-19 */
#content{
  width:500px;
  height:500px;
  background-color:green;
}
/*
@media(min-width:576px){
  content{
    background-color:cyan;
  }
}

@media(min-width:768px){
  content{
    background-color:blue;
  }
}

@media(min-width:992px){
  content{
    background-color:purple;
  }
}

@media(min-width:1200px){
  content{
    background-color:red;
  }
}*/
