/* Site css */

html,
body{
    background: url("../images/RoomR_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: sans-serif;
    color: #eaeaea;
}

h1{ font-size: 22px; }
h2{ font-size: 18px; }
p{ font-size: 12px; }

.header{
    width: 100%;
    height:50px;
}

.logo{
  width: 200px;
  height:100%;
  background-image: url("../images/roomr_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* 01-07-19 */
#content{
  margin:0 auto;
  width:100vw;
  height:90vh;
  background-color:lightgreen;
}

@media(min-width:576px){
  #content{
    background-color:cyan;
  }
}

@media(min-width:768px){
  #content{
    background-color:blue;
  }
}

@media(min-width:992px){
  #content{
    background-color:purple;
  }
}

@media(min-width:1200px){
  #content{
    width:1024px;
    height:800px;
    background-color:red;
  }
}
