/*
groen:#90ff00
wit:#eaeaea
rood:#d10606
zwart:#4d4d4d
borderradius = 50%
*/

html,
body{
    background: url(../plaatjes/RoomR_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1{
    font-family: sans-serif;  
    position: fixed; 
    color: #90ff00;
    left: 45%;
    top: 20%;
}
.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}

/*
1. De button groen maken
2. De button rond maken zonder border
3. Een witte rand toevoegen rond de knop
*/

.pausebutton {
    position: fixed;
    left: 60%;
    top: 50%;
}
.cancelbutton{
    position: fixed;
    left: 35%;
    top: 50%;
}
.pausebutton .circle img {
    max-width: 100px;
    max-height: 100px;
    margin: 11px 32px;
    border: none;
}

.cancelbutton .circle img {
    max-width: 100px;
    max-height: 100px;
    margin: 11px 32px;
}